@import url("https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap");

* {
  font-family: "Vollkorn", serif;
}

@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-primary: #d8afa9;
  --color-secondary: #5b4141;
  --color-accent: #7b3f00;
  --color-base-100: #f4eadf;
  --color-base-200: #ffffff;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: true;

  --color-primary: #121212;
  --color-secondary: #ffffff;
  --color-accent: #ffffff;
  --color-base-100: #2e2e2e;
  --color-base-200: #000000;
}

.nav-link {
  @apply relative rounded px-2 lg:px-3 py-1 backdrop-blur-md 
text-secondary transition-transform ease-out duration-150;
}
.nav-link.active {
  @apply font-bold scale-100 md:scale-105;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: #7b3f00;
  font-weight: bolder;
}
